.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-delete-this-directory.txt
moviebot.db  # если используешь sqlite локально
.DS_Store  # для Maccache/
*.pt
*.bin
cache/
*.pt # на всякий случай модели
*.bin
cache/
*.pt
text# Игнорируем тяжёлые IMDB файлы
data/imdb_raw/*.tsv.gz
data/imdb_raw/*.tsv
cache/
