pyTelegramBotAPI
requests
flask
gunicorn
psycopg2-binary
python-dotenv
yookassa
apscheduler
pytz
python-dateutil
sentence-transformers
faiss-cpu
pandas
numpy
pydub
transformers
torch
tqdm
sentencepiece
vosk
whisper
emoji
librosa
soundfile
gunicorn
