pyTelegramBotAPI
requests
beautifulsoup4
apscheduler
pytz
python-dateutil
flask
gunicorn
psycopg2-binary
python-dotenv
yookassa
# Зависимости для КиноШазам
sentence-transformers
faiss-cpu
pandas
numpy
pydub
transformers
torch
tqdm
sentencepiece
sacremoses
vosk
sqlite3
librosa
soundfile
openai-whisper
kaggle